* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: white;
  overflow-x: hidden;
}

/* SECTION 1 */

.s1{
  height: 100vh;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 120vh;
  object-fit: cover;
}

nav {
  display: flex;
  width: 100%;
  height: 137px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 35px 0px 35px;
}

.nav-title {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
}

.nav-link {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.product-link {
  margin-right: 52px;
}

.hero-title {
  width: 565px;
  height: 126px;

  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  text-align: center;

  color: #ffffff;

  margin: 0 auto;
  margin-top: 7%;
}

.btn {
  width: 205px;
  height: 55px;
  border: none;
  background: #ecd7bc;
  border-radius: 3px;

  font-weight: 500;
  font-size: 21px;

  color: #000000;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
}

/* SECTION 2 */

.s2{
  background: #fff;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.iced_title {
  width: 100%;
  text-align: center;
  padding-top: 5%;

  font-style: normal;
  font-weight: 500;
  font-size: 32px;


  color: #000000;
}

.iced_group {
  position: relative;
  left: 65%;
  transform: translateX(-65%);
  margin-top: 5%;
}

.s3{
  position: relative;
  top: 20vh;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 60% 40%;
}

.s3-left {
  background-color: #9A8177;
}

.s3-right{
  object-fit: cover;
}

.s3-cont-title {
  width: 222px;
  height: 180px;

  font-weight: 600;
  font-size: 38px;

  letter-spacing: 0.35em;
}

.s3-cont-par{
  width: 400px;
  height: 87px;
  margin-top: 4px;
  line-height: 40px;

  font-size: 24px;
}

.s3-btn{
  width: 205px;
  height: 55px;
  border: none;
  background: #ecd7bc;
  border-radius: 3px;

  font-weight: 500;
  font-size: 21px;

  color: #000000;
  margin-top: 20%;
}

.s3-cont-text {
  margin-left: 12%;
  margin-top: 12%;
}
