* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat";
  background-color: #f3f3f3;
  overflow-x: hidden;
}

/* SECTION 1 */

nav {
  display: flex;
  width: 100%;
  height: 137px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7% 0px 7%;
  background-color: #ecd7bc;
}

.nav-title {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  color: black;
}

.nav-title a {
  color: black;
}

.nav-link {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.product-link {
  margin-right: 52px;
}

nav li a {
  color: white;
  text-decoration: underline;
}

.nav-mobile {
  display: none;
}

.s2-title {
  width: 100%;
  text-align: center;
  padding-top: 10%;

  font-style: normal;
  font-weight: 500;
  font-size: 32px;

  color: #000000;
}

.option-box {
  width: 95%;
  height: 600px;
  margin: 0 auto;
  margin-top: 60px;

  background: #eeeeee;

  display: grid;
  grid-template-columns: 10% 90%;
}

.first-set {
  background-color: #cbcbcb;
  height: 100%;
}

.option-details {
  display: flex;
  align-items: center;
}

.option-deactive {
  display: none;
}

.details {
  margin-left: 5%;
}

.detail-title {
  width: 474px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 64px;

  color: #9a8177;
}

.detail-sub {
  width: 523px;
  margin-bottom: 65px;

  font-weight: 500;
  font-size: 48px;

  color: #9a8177;
}

.detail-par {
  width: 377px;

  font-size: 24px;
  line-height: 29px;

  color: #9a8177;
}

.detail-img {
  position: relative;
  right: 5%;
  object-fit: cover;
}

.di-mocha {
  right: 10%;
}

.di-espresso,
.di-affogato,
.di-frappucino {
  right: 12%;
}

.di-cappuccino,
.di-iced_coffee,
.di-iced_espresso {
  right: -5%;
}

.nav-img-cont {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 120px;
  background-color: #454545;
}

.nav-img-cont h3 {
  color: #ecd7bc;

  font-weight: 600;
  font-size: 18px;
}

.americano {
  background-color: #eeeeee;
}

.nav-img-cont .sn-americano {
  color: #454545;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 200px;

  border: 4px solid #9a8177;
  box-sizing: border-box;
}

.active-circ {
  width: 45px;
  height: 45px;
  border-radius: 200px;

  background: #9a8177;
}

.pagination {
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 12vh;
  cursor: pointer;
}

footer {
  margin-top: 35vh;
  width: 100%;
  height: 215px;

  background: #9a8177;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin-left: 88px;

  font-size: 28px;
  color: #ffffff;
}

.socials {
  margin-right: 88px;

  font-size: 24px;
  color: #ffffff;
}

nav li a {
  color: black;
  text-decoration: underline;
}

.nav-mobile {
  display: none;
}
