* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat";
  background-color: #f3f3f3;
  overflow-x: hidden;
}

/* SECTION 1 */

.s1 {
  height: 100vh;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 120vh;
  object-fit: cover;
}

nav {
  display: flex;
  width: 100%;
  height: 137px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7% 0px 7%;
  position: absolute;
  top: 0;

  transition: ease-in 300ms;
}

.nav-fixed {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7% 0px 7%;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: #ecd7bc;

  transition: ease-in 300ms;
}

.nav-fixed h2 a,
.nav-fixed ul li a {
  color: black;
}

.nav-title {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  color: white;
}

.nav-title a {
  color: #fff;
}

.nav-link {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.product-link {
  margin-right: 52px;
}

.hero-title {
  width: 565px;
  height: 126px;

  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  text-align: center;

  color: #ffffff;

  margin: 0 auto;
  margin-top: 17%;
}

.btn {
  width: 205px;
  height: 55px;
  border: none;
  background: #ecd7bc;
  border-radius: 3px;

  font-weight: 500;
  font-size: 21px;

  color: #000000;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
  cursor: pointer;
}

/* SECTION 2 */

.s2 {
  background: #f3f3f3;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.iced_title {
  width: 100%;
  text-align: center;
  padding-top: 5%;

  font-style: normal;
  font-weight: 500;
  font-size: 32px;

  color: #000000;
}

.iced_group {
  position: relative;
  left: 65%;
  transform: translateX(-65%);
  margin-top: 5%;
}

/* SECTION 3 */

.s3 {
  position: relative;
  top: 20vh;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 60% 40%;
}

.s3-left {
  background-color: #9a8177;
}

.s3-right {
  object-fit: cover;
}

.s3-cont-title {
  width: 222px;
  height: 180px;

  font-weight: 600;
  font-size: 38px;

  letter-spacing: 0.35em;
  color: white;
}

.s3-cont-par {
  width: 400px;
  height: 87px;
  margin-top: 4px;
  line-height: 40px;

  font-size: 24px;
  color: white;
}

.s3-btn {
  width: 205px;
  height: 55px;
  border: none;
  background: #ecd7bc;
  border-radius: 3px;

  font-weight: 500;
  font-size: 21px;

  color: #000000;
  margin-top: 20%;
  cursor: pointer;
}

.s3-cont-text {
  margin-left: 12%;
  margin-top: 12%;
}

/* SECTION 4 */

.s4 {
  height: 100vh;
  background-color: #f3f3f3;

  margin-top: 30vh;
}

.s4-title {
  width: 100%;
  margin-top: 240px;

  font-weight: 500;
  font-size: 32px;
  line-height: 39px;

  text-align: center;

  color: #000000;
}

.perk-par {
  width: 213px;
  height: 101px;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: 31px;

  color: #000000;
}

.perk {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.beans {
  margin-left: 7%;
}

.app {
  margin-right: 7%;
}

.perk-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial {
  width: 300px;
  height: 282px;

  background: #ffffff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 150px;
}

.t1 {
  margin-left: 7%;
}

.t2 {
  margin-right: 7%;
}

.test-par {
  width: 90%;

  font-style: italic;
  font-size: 18px;
  text-align: center;

  color: #000000;
  margin-top: 50px;
}

.test-rating {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-top: 25px;

  color: #ecd7bc;
}

.test-name {
  font-size: 18px;
  margin-top: 40px;

  text-align: center;

  color: #000000;
}

/* SECTION 5 */

.s5 footer {
  margin-top: 50vh;
  width: 100%;
  height: 215px;

  background: #9a8177;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin-left: 88px;

  font-size: 28px;
  color: #ffffff;
}

.socials {
  margin-right: 88px;

  font-size: 24px;
  color: #ffffff;
}

nav li a {
  color: white;
  text-decoration: underline;
}

.nav-mobile {
  display: none;
}

@media only screen and (max-width: 667px) {
  .hero-title {
    color: #ffffff;

    margin: 0 auto;
    margin-top: 35%;

    width: 329px;

    font-weight: 500;
    font-size: 24px;

    text-align: center;
  }

  .hero-btn {
    margin-top: -10%;
  }

  .iced_title {
    width: 100%;
    text-align: center;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
    padding-top: 15%;
  }

  .iced_group {
    width: 338px;
    margin-top: 20%;
  }

  .s2 {
    height: 50vh;
  }

  .s3 {
    grid-template-columns: 100%;
  }

  .s3-cont-text {
    margin-left: 0;
    margin-top: 12%;
  }

  .s3-cont-title,
  .s3-cont-par {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .s3-cont-title {
    font-weight: 600;
    font-size: 24px;
    margin-top: 17%;
    height: fit-content;
    width: 70%;
    line-height: 55px;
  }

  .s3-cont-par {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 12%;

    color: #ffffff;
  }

  .s3-right {
    display: none;
  }

  .s3-btn {
    width: 205px;
    height: 55px;
    border: none;
    background: #ecd7bc;
    border-radius: 3px;

    font-weight: 500;
    font-size: 21px;

    color: #000000;
    margin-top: 20%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .s4-title {
    width: 100%;
    margin-top: 5%;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;
  }

  .perk-cont {
    flex-direction: column;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    left: 0%;
    transform: translateX(0%);
  }

  .beans {
    margin-left: 0%;
  }

  .app {
    margin-right: 0%;
  }

  .testimonial-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
  }

  .t1 {
    margin-left: 0%;
  }

  .t2 {
    margin-right: 0%;
  }

  .testimonial {
    margin-top: 40px;
  }

  .s5 {
    margin-top: 1100px;
  }

  footer {
    flex-direction: column;
  }

  .copyright,
  .socials {
    margin: 0;
    text-align: center;
  }

  .copyright {
    font-size: 24px;
    margin-top: 15%;
  }

  .socials {
    font-size: 18px;
    margin-bottom: 15%;
  }
}

@media only screen and (min-width: 1400px) {
  .s2 {
    height: 600px;
  }

  .hero {
    height: 80vh;
  }

  .s1 {
    height: 60vh;
  }

  .hero-title {
    font-size: 64px;
    width: 60%;
  }

  .btn {
    width: 300px;
    height: 75px;
    font-size: 27px;
  }

  .s3-right {
    height: 100%;
  }

  .s3-cont-title {
    font-size: 56px;
  }

  .s3-cont-par {
    font-size: 34px;
    margin-top: 55px;
  }

  .s3 {
    height: 800px;
  }

  .s3-btn {
    width: 300px;
    height: 75px;
    font-size: 27px;
  }

  .s4 {
    height: 500px;
  }

  .s5 {
    margin: 0;
  }
}
