<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="../static/css/contact.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Sacramento&display=swap"
    rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="s1">
      <div class="nav">
        <nav>
          <h2 class="nav-title">Roastro</h2>

          <ul class="nav-links">
            <li class="nav-link product-link"><a href="">Products</a></li>
            <li class="nav-link"><a href="">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="s2">
      <div class="form">
        <form >
          <div class="name-form form-cont">
            <label for="name" class="name-label">Name</label>
            <input type="text" id="name" class="name" required>
          </div>

          <div class="email-form form-cont">
            <label for="email" class="email-label">Email (Optional)</label>
            <input type="text-area" id="email" class="email">
          </div>

          <div class="message-form form-cont">
            <label for="message" class="message-label">Message</label>
            <input type="text" id="message" class="message">
          </div>

          <button type="submit" class="form-btn btn"><p>Submit</p></button>
        </form>
      </div>

      <div class="time">
        <h2 class="time-title">
          Opening Times
        </h2>

        <div class="day-cont upper-cont">
          <p class="day">Monday</p>
          <p class="range">11AM - 7PM</p>
        </div>

        <div class="day-cont">
          <p class="day">Tuesday</p>
          <p class="range">11AM - 7PM</p>
        </div>

        <div class="day-cont">
          <p class="day">Wednesday</p>
          <p class="range">Closed</p>
        </div>

        <div class="day-cont">
          <p class="day">Thursday</p>
          <p class="range">11AM - 7PM</p>
        </div>

        <div class="day-cont">
          <p class="day">Friday</p>
          <p class="range">11AM - 7PM</p>
        </div>

        <div class="day-cont">
          <p class="day">Saturday</p>
          <p class="range">11AM - 7PM</p>
        </div>

        <div class="day-cont">
          <p class="day">Sunday</p>
          <p class="range">Closed</p>
        </div>
      </div>
    </div>

    <div class="s3 footer">
      <footer>
        <p class="copyright">Roastro &copy; 2021</p>
        <p class="socials">IG: RoastroCoffee | Email: RoastroCoffee@gmail.com</p>
      </footer>
    </div>
  </div>
</body>
</html>