<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../static/css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Sacramento&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="s1">
      <div class="nav">
        <nav>
          <h2 class="nav-title"><a href="./index.html">Roastro</a></h2>

          <ul class="nav-links">
            <li class="nav-link product-link"><a href="./product.html">Products</a></li>
            <li class="nav-link"><a href="./contact.html">Contact Us</a></li>
          </ul>
        </nav>
      </div>

      <div class="nav-mobile">
        <nav>
            <li class="nav-link product-link"><a href="./product.html">Products</a></li>
            <li class="nav-link"><a href="./contact.html">Contact Us</a></li>
        </nav>
      </div>

      <img src="../media/hero.png" alt="Hero" class="hero">
      <h1 class="hero-title">Coffee Beans Brewed With Perfection</h1>

      <button class="hero-btn btn"><p>Our Coffees</p></button>
    </div>

    <div class="s2">
      <h3 class="iced_title">Our Popular Iced Drinks</h3>

      <img src="../media/iced_tea_group.png" alt="Iced" class="iced_group">
    </div>

    <div class="s3">
      <div class="s3-left">
        <div class="s3-cont-text">
          <h2 class="s3-cont-title">Smooth Simple Sips</h2>
          <p class="s3-cont-par">We offer you a range of coffees made with perfection to tantilise your taste buds.</p>

          <a href="./contact.html"><button class="s3-btn"><p>Contact Us</p></button></a>
        </div>
      </div>

      <img src="../media/side_img.png" alt="" class="s3-right">
    </div>

    <div class="s4">
      <h3 class="s4-title">Why us?</h3>

      <div class="perk-cont">
        <div class="beans perk">
          <img src="../media/beans.svg" alt="Beans" class="perk-img">

          <p class="perk-par">
            All our beverages are made from high graded ingredients
          </p>
        </div>

        <div class="drinks perk">
          <img src="../media/cup.svg" alt="Beans" class="perk-img">

          <p class="perk-par">
            We are not only known for our iced drinks, we also do a great range of other beverages
          </p>
        </div>

        <div class="app perk">
          <img src="../media/phone.svg" alt="Beans" class="perk-img">

          <p class="perk-par">
            Order and pickup online by using our app.
          </p>
        </div>
      </div>

      <div class="testimonial-cont">
        <div class="testimonial t1">
          <p class="test-par">“rhoncus mattis rhoncus urna neque viverra justo”</p>
          <p class="test-rating">4.5/5</p>

          <p class="test-name">John Smith</p>
        </div>

        <div class="testimonial">
          <p class="test-par">“rhoncus mattis rhoncus urna neque viverra justo”</p>
          <p class="test-rating">4.5/5</p>

          <p class="test-name">John Smith</p>
        </div>

        <div class="testimonial t2">
          <p class="test-par">“rhoncus mattis rhoncus urna neque viverra justo”</p>
          <p class="test-rating">4.5/5</p>

          <p class="test-name">John Smith</p>
        </div>
      </div>

      <button class="test-btn btn"><p>View More</p></button>
    </div>

    <div class="s5 footer">
      <footer>
        <p class="copyright">Roastro &copy; 2021</p>
        <p class="socials">IG: RoastroCoffee | Email: RoastroCoffee@gmail.com</p>
      </footer>
    </div>
  </div>
</body>

<script src="../static/js/base.js"></script>

</html>