<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>

  <link rel="stylesheet" href="../static/css/product.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Sacramento&display=swap"
    rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="s1">
      <div class="nav">
        <nav>
          <h2 class="nav-title"><a href="./index.html">Roastro</a></h2>

          <ul class="nav-links">
            <li class="nav-link product-link"><a href="./product.html">Products</a></li>
            <li class="nav-link"><a href="./contact.html">Contact Us</a></li>
          </ul>
        </nav>
      </div>

      <div class="nav-mobile">
        <nav>
            <li class="nav-link product-link"><a href="./product.html">Products</a></li>
            <li class="nav-link"><a href="./contact.html">Contact Us</a></li>
        </nav>
      </div>
    </div>

    <div class="s2">
      <h3 class="s2-title">Choose Coffee</h3>

      <div class="option-box">
        <div class="side-nav-imgs">
          <div class="first-set">
            <div class="americano nav-img-cont">
              <h3 class="side-nav-title sn-americano">Americano</h3>
            </div>

            <div class="espresso nav-img-cont">
              <h3 class="side-nav-title sn-espresso">Espresso</h3>
            </div>

            <div class="latte nav-img-cont">
              <h3 class="side-nav-title sn-latte">Latte</h3>
            </div>

            <div class="cappuccino nav-img-cont">
              <h3 class="side-nav-title sn-cappuccino">Cappuccino</h3>
            </div>

            <div class="affogato nav-img-cont">
              <h3 class="side-nav-title sn-affogato">Affogato</h3>
            </div>
          </div>

          <div class="second-set nav-deactive">
            <div class="mocha nav-img-cont">
              <h3 class="side-nav-title sn-mocha">Mocha</h3>
            </div>

            <div class="iced_coffee nav-img-cont">
              <h3 class="side-nav-title sn-iced_coffee">Iced Coffee</h3>
            </div>

            <div class="frappuccino nav-img-cont">
              <h3 class="side-nav-title sn-frappuccino">Frappuccino</h3>
            </div>

            <div class="iced_espresso nav-img-cont">
              <h3 class="side-nav-title sn-iced_espresso">Iced Espresso</h3>
            </div>

            <!-- Dud div -->
            <div class="nav-img-cont"></div> 
          </div>
        </div>

        <div class="option-details">
          <div class="details d-americano">
            <h1 class="detail-title dt-americano">Americano</h1>
            <h3 class="detail-sub ds-americano">Simple & Smooth</h3>

            <p class="detail-par dp-americano">Our famously intense Espresso 
              softened with hot water. 
              Drink it straight up or add a 
              splash of milk. 
              You’ll love it either way.</p>
          </div>

          <img src="../media/coffees/americano.png" alt="coffee" class="detail-img di-americano">
        </div>

        <div class="option-details option-deactive">
          <div class="details d-espresso">
            <h1 class="detail-title dt-espresso">Espresso</h1>
            <h3 class="detail-sub ds-espresso">Short & Intense</h3>

            <p class="detail-par dp-espresso">The perfect combination of our aromatic Espresso and creamy milk. This duo is ideal for everyone who loves their drink hot in winter and cold in summer.</p>
          </div>

          <img src="../media/coffees/espresso.png" alt="coffee" class="detail-img di-espresso">
        </div>

        <div class="option-details option-deactive">
          <div class="details d-latte">
            <h1 class="detail-title dt-latte">Latte</h1>
            <h3 class="detail-sub ds-latte">Short & Intense</h3>

            <p class="detail-par dp-latte">The latte is where it all begins. Its rich aroma is the heartbeat of all our coffees. We craft one simple shot of our intense roast for the most elegant of drinks.</p>
          </div>

          <img src="../media/coffees/latte.png" alt="coffee" class="detail-img di-latte">
        </div>

        <div class="option-details option-deactive">
          <div class="details d-cappuccino">
            <h1 class="detail-title dt-cappuccino">Cappuccino</h1>
            <h3 class="detail-sub ds-cappuccino">Famously Frothy</h3>

            <p class="detail-par dp-cappuccino">A special treat made out of intense Espresso, frothy milk and decadent chocolate dusting. Enjoy it hot or ice cold.</p>
          </div>

          <img src="../media/coffees/cappuccino.png" alt="coffee" class="detail-img di-cappuccino">
        </div>

        <div class="option-details option-deactive">
          <div class="details d-affogato">
            <h1 class="detail-title dt-affogato">Affogato</h1>
            <h3 class="detail-sub ds-affogato">Cold Delight</h3>

            <p class="detail-par dp-affogato">The affogato is an excuse to enjoy a scoop of ice cream any time of day. Served with a scoop of ice cream and a shot of espresso, or two.</p>
          </div>

          <img src="../media/coffees/affogato.png" alt="coffee" class="detail-img di-affogato">
        </div>

        <div class="option-details option-deactive">
          <div class="details d-mocha">
            <h1 class="detail-title dt-mocha">Mocha</h1>
            <h3 class="detail-sub ds-mocha">Chocolate Suprise</h3>

            <p class="detail-par dp-mocha">For all you chocolate lovers out there, you’ll fall in love with a mocha. The mocha is a chocolate espresso drink with steamed milk and foam.</p>
          </div>

          <img src="../media/coffees/mocha.png" alt="coffee" class="detail-img di-mocha">
        </div>

        <div class="option-details option-deactive">
          <div class="details d-iced_coffee">
            <h1 class="detail-title dt-iced_coffee">Iced Coffee</h1>
            <h3 class="detail-sub ds-iced_coffee">Cold & Simple</h3>

            <p class="detail-par dp-iced_coffee">For all you chocolate lovers out there, you’ll fall in love with a frappucino. The frappucino is a chocolate espresso drink with steamed milk and foam.

            </p>
          </div>

          <img src="../media/coffees/iced_coffee.png" alt="coffee" class="detail-img di-iced_coffee">
        </div>

        <div class="option-details option-deactive">
          <div class="details d-frappuccino">
            <h1 class="detail-title dt-frappuccino">Frappucino</h1>
            <h3 class="detail-sub ds-frappuccino">Fluffy Whip</h3>

            <p class="detail-par dp-frappucino">The Frappuccino is a blended iced coffee drink that’s topped with whipped cream and syrup.</p>
          </div>

          <img src="../media/coffees/frappucino.png" alt="coffee" class="detail-img di-frappuccino">
        </div>

        <div class="option-details option-deactive">
          <div class="details d-iced_espresso">
            <h1 class="detail-title dt-iced_espresso">Iced Espresso</h1>
            <h3 class="detail-sub ds-iced_espresso">Short & Intense</h3>

            <p class="detail-par dp-iced_espresso">Like an iced coffee, iced espresso can be served straight or with a dash of milk, cream or sweetener</p>
          </div>

          <img src="../media/coffees/iced_espresso.png" alt="coffee" class="detail-img di-iced_espresso">
        </div>
      </div>

      <div class="pagination">
        <div class="circle first-circ active-circ"></div>
        <div class="circle last-circ"></div>
      </div>
    </div>

    <div class="s3 footer">
      <footer>
        <p class="copyright">Roastro &copy; 2021</p>
        <p class="socials">IG: RoastroCoffee | Email: RoastroCoffee@gmail.com</p>
      </footer>
    </div>
  </div>
</body>

<script src="../static/js/product.js"></script>
</html>